.movieDetail {
    margin: 2rem;
    color: azure;
    display: flex;
}

.detailContent {
    width: 50%;
}

.detailVideo {
    width: 50%;
    height: 400px;
    padding: 10px;
}

.detailImage {
    max-width: 80%;
    max-height: 400px;
    height: auto;
    width: 100%;
    display: block;
}