.trendingList {
    background-color: #111;
}

.trendingList>h2 {
    color: azure;
    margin-left: 2.2rem;
}

.filmList {
    background-color: #111;
    padding: 2rem;
    display: flex;
    overflow-x: auto;
}

.imgItem {
    height: 12rem;
    width: auto;
    margin-left: 1rem;
}