.NavBar {
    max-width: 100vw;
    width: 100%;
    background-color: none;
    position: fixed;
    top: 0px;
    height: 2.2rem;
    overflow: hidden;
    /* hiển thị trên banner */
}

.NavBar {
    padding: 0;
    transition: 1s;
}

.NavBar a:first-child {
    text-decoration: none;
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
    float: left;
    margin-left: 1rem;
    margin-top: 5px;
}

.NavBar a:nth-child(2) {
    transition: 1s;
    display: block;
    float: right;
    margin-right: 1rem;
    margin-top: 7px;
}

.NavBar svg {
    width: 20px;
    height: auto;
}

.test {
    background-color: #777;
    height: 2000px;
}